@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    
    color: white;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
   text-decoration: none;
}
header, ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
h2 /* Titulo da Faculdade*/ 
{ 
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    font-size: 100px;
    text-align: center;
    font-weight: 105;

    font-family: "Belanosima", serif;
    font-weight: 400;
    font-style: normal;
}
h3 /* Titulo Pequeno*/
{
    font-family: "Montserrat", sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
#btn-centrazile{
padding-top: 20px;

display: flex;
justify-content: center;
align-items: center;

}

li:hover/* Adicionar Linha a baixo usando Hover*/
{ 
background-color: blue;
border-radius: 30px;
}
.li-space /*Centralizar o Header*/
{
    padding: 0.5rem
}
/* Adicionar Estilo do Botão diferentes*/

.btn-getstarted{
    border-radius: 60px;
    border-color: rgba(255, 255, 255, 0);
    padding-left: 20px;
    padding-right: 20px;
    background-color: blue;
    font-size: 25px;
    width: 10%;
    height: max-content;
    margin: 40px;
    height: 55px;

    font-family: "Belanosima", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.btn-learnmore
{
    border-radius: 60px;
    border-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 255, 0);
    font-size: 25px;
    margin: 40px;
    width: 10%;
    height: 55px;

    font-family: "Belanosima", sans-serif;
    font-weight: 100;
    font-style: normal;
}
/* Refazer Depois!
@media(max-width: 767px)
{ 
    
    h2{
        padding-top: 200px;
        font-size: 70px;
    }
    h3{
        font-size: 15px;
    }
    .btn-getstarted,.btn-learnmore{
        width: 200px;
    }
    body{
        background: url(/UniverzUniversity/img/school.jpg) no-repeat;
        background-size: center;
    }
}
@media(min-width:768px) and (max-width:1024px)
{
    h2{
    font-size: 85px;
    }
    h3{
        font-size: 15px;
    }

    .btn-getstarted,.btn-learnmore{
        width: 200px;
    }

   
}
@media(min-width: 2560px)
{
  body{
        background-image: url(/UniverzUniversity/img/school.jpg);
        background-size: 3890px;
        background-position: center;
        
    }
    ul{
        font-size: 15px;
    }
    h2{
        font-size: 90px;
    }
    h3{
        padding-top: 20px;
        font-size: 20px;
    }
}
@media(min-width: 3440px)
{
    h2{
        font-size: 180px;
    }
    h3{
        font-size: 30px;
    }
    .btn-getstarted,.btn-learnmore{
        width:400px;
        height: 80px;
        font-size: 45px;
    }
    ul{
        font-size: 30px;
    }
    body{
        background: url(/UniverzUniversity/img/school.jpg);
        background-size: 4000px;
        background-position: center;
    }
}
@media(min-width: 240px){
    body{
        background-image: url(/UniverzUniversity/img/school.jpg);
        background-position: center;
        background-size: 4000px;
    }
    ul, h1{
        font-size: 5px;
        display: flex;
        align-items: center;
        gap: 4rem;
    }
    h2{
        font-size:95px;
        
    }
    h3{
        font-size: 7px;
    }
    .btn-getstarted,.btn-learnmore{
        width:100px;
        height: 20px;
        font-size: 5px;
    }
}